body{
  background-color: black;
  color: white;
  text-align: center;
}
table{
  border-color: white;
  position: fixed;
  left: 30%;
  top: 5%;
  margin: 5px;
  padding: 10px;
  border-collapse: collapse;
  width: 500px;
  height: 500px;
}

td, th{
  padding: 10px;
  margin: 10px;
  width: 12px;
  height: 15px;
  transition: 1s;
}

#controls{
  position: fixed;
  left: 25px;
  top: 40px;
  width: 200px;
  height: 500px;
}
#msg{
  width: 200px;
  height: 50px;
  padding: 5px;
}
